# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


################################################################################
## Git ignore by subanesh

## unwanted files
/bin
/obj
.vs
.vscode
*.config
*.csproj
*.csproj.user
*.njsproj
*.njsproj.user
*.esproj
*.esproj.user


# # temp, to ignore while creating Repository
# /src
# *.js

# node_modules # already present

# not important
obj  

# protect environment variables (mongoose,.,. ...)
.env

# In a .gitignore file, you can use three different types of patterns:
# 
# name: This will ignore any file or directory with the name “name”.
# .name: This will ignore any file or directory with the name “.name”.
# *.name: This will ignore any file or directory that ends with “.name”.

# \.name: This will ignore any file

## Git ignore by subanesh --ends
################################################################################


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
